---
import MainLayout from "../layouts/MainLayout.astro"
import PostsList from "../components/PostsList.astro"
---

<MainLayout title="Welcome to Astro.">
  <div class="flex flex-col gap-3">
    <h1 class="font-bold text-2xl">Postagens</h1>
    <PostsList/>
  </div>
</MainLayout>
