---
import NavBar from '../components/NavBar.astro'
import BaseLayout from './BaseLayout.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<BaseLayout title={title}>
	<header>
		<NavBar/>
	</header>
	<body>
		<slot/>
	</body>
</BaseLayout>